/*Abaixo são os resets padrão do HTML. É de extrema importância ter essa parâmetros em todo documento CSS*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* código 70%, softskill 20% (marca pessoal), marketing pessoal 10% */

/*Abaixo é um seletor da raiz, e no root armazenamos variáveis que podem ser usadas ao longo da produção diversas vezes, é necessário colocar dois traços --nome-outro nome se quiser: valor*/
:root {
  --card-color: #f7dd43;
}


/* Parâmetros básico para o fundo do corpo da página*/
body {
  background-color: #121214;
  background-image: url(./Assets/bg.svg);
  background-position-x: center;
  background-position-y: -55.6%;
  background-repeat: no-repeat;
}

.cabecalho {
  margin-bottom: 63px;
  text-align: center;
}

#app {
  width: fit-content; /* largura se encaxa de acordo com o conteúdo ;-; */
  margin: 52px auto;
}

header {
  margin-bottom: 63px;
}

.card {
    background-color: #1d1c19;
    border-bottom: 2px solid #f7dd43;
    border-radius: 6px;
    color: white;
    padding: 32px 23px;
    text-align: center;
}

h2 {
  display: flex;
  align-items: center; /*Alinha os elementos no meio de uma linha imaginário horizontal*/
  justify-content: center;
  padding: 8px 16px;
  border: 1px solid #746615;
  border-radius: 6px;
  gap: 16px; /*Espaço entre elementos flexivéis*/
  width: fit-content; /*A largura do elemento se ajusta conforme o conteúdo dentro do elemento*/
  margin: auto;
  margin-bottom: 53px;
  color: #f7dd43;
}

span {
  margin: 0px 2px;
  color: #e1e1e6;
  text-transform: uppercase; /*Tranforma todo o texto em letras maiúsculas*/
  font-size: 14px;
}

.lista-1 {
    list-style: none;
    width: 270px;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;
  color: #E1E1E6;
}

hr {
  height: 1px;
  margin: 24px 0px;
  border-color: #323238;
}

main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.card h2:hover ,
.card ul li strong:hover,
.card ul img:hover {
  transform: scale(1.1); /*Ao passar o mouse por cima o elemento aumenta sua escala em 1.1*/
}

.card h2,
.card ul li strong,
.card ul img{
  transition: transform 0.3s; /*O aumento da escola se torna mais natural*/
}

.card {
  opacity: 0;
  animation: appear 3s forwards; /*Chama a animação "appear" e declaramos o tempo em que ela será executanda. o forwards serve para manter os parâmetros da regra keyframe*/
}


/*Declara uma regra de animação, sendo nomeada como appear, mas pode ser qualquer outro nome. Dentro da regra colocamos o que queremos que aconteça quando a animação for chamada. */
@keyframes appear {
  0%{
    opacity: 0;
    transform: translateY(-50px);
  }
  100%{
    opacity: 1; 
  }
}

/*Media Querie utilizada para aplicar quando uma resolução for menor ou maior que a especificada.*/


@media (min-width: 700px){
  .container {
    display: flex;
    max-width: 670px;
    flex-direction: row;
    flex-wrap: wrap ;
  }
}
